* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-container {
  height: 80%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide {
  height: 80%;
  width: 80%;
  position: relative;
  overflow: hidden;
}
.slide img {
  height: 100%;
  width: 100%;
  position: absolute;
}
.right-icon,
.left-icon {
  position: absolute;
  z-index: 200;
  color: rgba(255, 255, 255, 1);
}
.right-icon {
  top: 50%;
  right: 5%;
}
.left-icon {
  top: 50%;
  left: 5%;
}
.fas {
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.4);
  padding: 1rem;
  border-radius: 50%;
}
.last {
  transform: translateX(-100%);
}
.active {
  transform: translateX(0%);
}
.next {
  transform: translateX(100%);
}
